.App {
  text-align: center;
  margin-bottom: 1cm;
}

td {
  word-break: break-word;
}

#title{
  margin-top: 1cm;
  margin-bottom: 1.5cm;
}

#buttonGroup{
  margin-top: 0.5cm;
}

#big-scope-button{
  margin: 0.2em;
}
.subtitle{
  margin-bottom: 1cm;
}