.App {
  text-align: center;
  margin-bottom: 1cm;
}

td {
  word-break: break-word;
}

#title{
  margin-top: 1cm;
  margin-bottom: 1.5cm;
}

#buttonGroup{
  margin-top: 1cm;
}

.subtitle{
  margin-bottom: 1cm;
}